NOVALAC
SITE WEB

Partie Environnement - La Marque - V1 Envoyé le 16/02/2016


ONGLET 1 : L’ADN DE NOVALAC
ONGLET 2 : LA QUALITE NOVALAC
ONGLET 3 : LES ACTUALITES NOVALAC


ONGLET 1 : L’ADN DE NOVALAC

Partie 1 : “NOVA-QUOI ?”

NOVALAC.

Oubliez vos lointains cours de latin, nous vous donnons la clé pour comprendre qui nous sommes et ce qui nous anime : NOVA-LAC pour des nouveaux types de laits.
Plutôt simple, non ?

Oui et non. Car la marque ne s’est pas créée en un jour...
Nous sommes en 2001 et M. XY et M. YZ dressent un constat sans appel : la majorité des parents, insatisfaits de l’offre disponible de préparations infantiles, doivent fréquemment changer de lait, au détriment du bien-être de leur bébé.
En cause ? La non-adéquation de ces produits avec la diversité des troubles rencontrés par les nourrissons.
Convaincus que la mission d’un lait pour bébé n’est pas uniquement de rassasier, Y & Z décident alors de créer une gamme de préparations infantiles à même de répondre à l’ensemble des troubles recontrés.

XX ans plus tard, la gamme NOVALAC compte pas moins de 14 de ces préparations, de quoi cotenter tous les bébés, même les plus exigeants !
Que tout aille bien, ou que des petites complications pointent le bout de leur nez, NOVALAC n’oublie aucune situation. Et cela, du 1er au 3ème âge.
Nous revendiquons fièrement la proposition de la plus grande gamme de laits à destination des nourrissons.

Picto ‘100 Millions de boites produites par an’


Partie 2 : NOVALAC nourrit tous les bébés du monde ! (ou presque)

Et puisque les troubles digestifs des nourrissons ne connaissent pas de frontières, NOVALAC propose sa gamme sur les 6 continents : en tant qu’entité de United Pharmaceuticals, laboratoire au rayonnement international, la marque est aujourd’hui présente dans plus de 50 pays !
NOVALAC vous accompagne, et contribue à assurer la croissance harmonieuse de votre enfant, où que vous soyez.


Schema Mappemonde


Partie 3 : NOVALAC cherche, trouve… et recherche encore

Parce qu’en matière de santé, nous sommes encore loin d’avoir tout trouvé, NOVALAC apporte tout son soutien à la recherche médicale, qu’il s’agisse d’initiatives grand public ou visant plus spécifiquement la communauté scientifique.

La bourse de recherche internationale NOVALAC notamment, récompense chaque année un projet de recherche dans le domaine de la nutrition pédiatrique et de la croissance.
Pour sa seconde édition, le prix sera cette année remis à l’occasion du prochain congrès international NUTRITION & GROWTH qui se tiendra à Vienne du 17 au 19 mars 2016.
En paralèlle, et depuis 19XX, le prix de recherche NOVALAC est quant à lui attribué chaque année à des futurs ou jeunes pédiatres français pour couronner leurs travaux de recherche.
Cliquez ici pour découvrir la liste des précédents lauréats (si disponible sur internet).

Le Téléthon, vous connaissez bien sûr.
Mais saviez vous qu’en parallèle des promesses de dons des particuliers, les entreprises s’engagent également pour soutenir l’action de cet évenement d’ampleur nationale ?
En 2016, NOVALAC apportera ainsi sa contribution pour la 7ème année consécutive, en reversant à l’AFM (Association Française contre les Myopathies), organisatrice du Téléthon, 1€ sur chaque boîte de Novalac 2 achetée.

Et ce n’est pas tout : 
NOVALAC est partenaire de l’INRA (Institut National de la Recherche Agronomique), travaillant collaborativement sur des projets de recherche de solutions innovantes en matière de nutrition et de santé;
NOVALAC est à l'initiative d’enquêtes au niveau national ayant pour objectif de faire la lumière sur de nouvelles connaissances en pédiatrie et à les diffuser au plus grand nombre par le biais de communications officielles ou lors de congrès.


Partie 4 : Avez-vous vu notre girafe ? (pastille)

Un bébé, ça grandit vite, très vite même, comme s’ils devaient ne jamais s’arrêter !
Alors, s’il faut parfois prendre un peu de recul, voire de hauteur pour admirer la croissance exponentielle de nos nourrissons, qui de mieux placé que notre chère girafe ?
A nos côtés depuis 19xx, elle accompagne la marque partout, depuis nos boîtes bien sûr… jusqu’au nouveau site internet que vous consultez aujourd’hui !




ONGLET 2 : LA QUALITE NOVALAC

Notre objectif : favoriser une croissance optimale et confortable chez tous les nourrissons, en mettant à disposition de leurs parents des solutions diététiques efficaces pour chaque trouble potentiel.

De la formulation à la distribution en passant par la fabrication, découvrez le cercle vertueux de la qualité NOVALAC.


Quand la santé de vos bébés rime avec sûreté

Soucieux de proposer des préparations infantiles à la hauteur de notre approche scientifique et experte, chaque formule NOVALAC est élaborée dans notre centre de recherche de Rennes par une équipe pluridisciplinaire internationale (U.E et reste du monde) composée de professeurs en gastro-entérologie, pédiatres, nutritionnistes, pharmaciens, ingénieurs et techniciens, et fait l’objet de nombreux essais cliniques et enquêtes épidémiologiques avant mise sur le marché.

picto ‘500‘
C’est le nombre de contrôles (physiques, chimiques, toxicologiques et microbiologiques) que subit un lot NOVALAC avant de quitter la laiterie et d’être envoyé en pharmacie.
Des matières premières utilisées au conditionnement des produits finis, en passant pas les équipements et les procédés de fabrication, c’est l’ensemble de la chaine de fabrication qui est passée au peigne fin pour vous garantir des produits dépourvus de toute substance nocive, conformément à la réglementation applicable.
Adieu donc hormones, pesticides, antibiotiques, dioxines, substances radioactives, et micro-organismes pathogènes.

picto ‘ISO 9001’
Parce que des produits irréprochables ne peuvent être fabriqués que dans un environnement affranchi de tous défauts, l’ensemble de nos sites de production NOVALAC France et Allemagne, ainsi que toutes les étapes de fabrication, sont certifiés ISO 9001 par les autorités sanitaires locales.

picto OGM barré
Si nos produits sont exempts d’agents pathogènes, c’est pour vous assurer de donner à votre enfant des préparations veillant en priorité à son bien-être et à sa santé.
Pour cette même raison, l’ensemble des ingrédients entrant dans la composition des laits NOVALAC est garanti issu de sources non génétiquement modifiées.

picto logo européen
Les formules utilisées pour mettre au point les préparations NOVALAC ont pour la majorité fait l’objet d’études cliniques, et sont toutes conformes aux réglementations européennes et internationales en vigueur dans le domaine de la nutrition infantile.


Des bons produits, bien produits

Au delà de vous proposer des préparations infantiles de grande qualité, NOVALAC est une marque en prise avec son époque, et donc consciente de la nécessité de mener une production responsable.

Placer le picto logo-recyclage (flèches vertes) au centre en gros, et les arguments suivant autour.

Utilisation d’énergie renouvelable
Notre usine de Normandie est équipée d’une chaudière à bois permettant le chauffage des tours oeuvrant à la transformation du lait liquide à l’état de poudre.

Ressources locales
Les énergies combustibles comme le bois ainsi que les matières premières (lait de vache) proviennent de sources situées à moins de 100 km du site de production.
Moins de transports effectués, c’est autant de CO2 rejeté en moins.


Gestion des déchets
Les déchets résiduels liés à la combustion du bois retournent à la terre, et plus précisément aux champs, afin de servir d’engrais naturel.

En-dessous du schema
Et ce n’est pas tout : toutes les boites de lait NOVALAC sont recyclables !
Alors à votre tour, prenez le relais en les déposant après utilisation dans les bacs de collecte.


Experts du début à la fin

Si acheter un médicament en supermarché vous parait farfelu, sachez que nous partageons votre point de vue.

Nous considérons qu’il en va de même pour les laits infantiles.
Aussi, parce qu’être experts de la nutrition infantile nous impose de vous accompagner à chaque étape de l’alimentation de votre enfant, nos préparations ne sont distribuées qu’en pharmacie.

Du cabinet de votre pédiatre au pharmacien, vous profitez ainsi d’une chaîne de conseils ininterrompue, vous permettant de trouver réponse à toutes vos questions liées aux spécificités ou à l’utilisation de nos produits.
 
Picto pharmacie




ONGLET 3 : LES ACTUALITES NOVALAC

Actualité 1
Actualité 2
...
